<!DOCTYPE html>
<html>
	<head>
		<title>To Do List</title>
		<link rel="stylesheet" type="text/css" href="styles.css">
		<link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Merriweather:300' rel='stylesheet' type='text/css'>
	</head>

	<body ng-app="myModule">
		
		<div ng-controller="toDoController">
			<h1>To Do List</h1>
			<h3>There {{total()}} for you to complete.</h3>
			<form>
				<input type="text" placeholder="what do you need to do?" ng-model="formToDo"></input>
				<button type="button" ng-click="addToDo()">ADD</button>
			</form>

			<ul>
				<li ng-repeat="task in toDo">
					<input type="checkbox" ng-model="task.done"></input> 
					<span>{{task.item}}</span>
				</li>
			</ul>

			<button type="button" ng-click="clearCompleted()">CLEAR COMPLETED</button>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script type="text/javascript" src="script.js"></script>
	</body>
</html>